<div id="chart-container">
    <div class="loading">加载中...</div>
    <div class="candle-tooltip" id="candle-tooltip" style="display: none;">
        <div class="tooltip-time" id="tooltip-time"></div>
        <div class="tooltip-row">
            <span class="tooltip-label">开盘</span>
            <span class="tooltip-value" id="tooltip-open">--</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">最高</span>
            <span class="tooltip-value" id="tooltip-high">--</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">最低</span>
            <span class="tooltip-value" id="tooltip-low">--</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">收盘</span>
            <span class="tooltip-value" id="tooltip-close">--</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">涨跌</span>
            <span class="tooltip-value" id="tooltip-change">--</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">成交量</span>
            <span class="tooltip-value" id="tooltip-volume">--</span>
        </div>
    </div>
</div>